{% extends 'reviews/base.html' %}
{% load static %}


{% block title %}Reviews{% endblock title %}

{% block css_path %}
{% static 'reviews/review.css' %}
{% endblock css_path %}


{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}

    <div class="form-control {% if field.errors %}errors{% endif %}">
        {{field.label_tag}}
        {{field}}
        {{field.errors}}
    </div>

    {% endfor %}
    <button>Send</button>
</form>
{% endblock content %}